@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    scroll-behavior: smooth; /* Enable smooth scrolling */ 
    font-weight:bolder; 
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.navlink{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: x-large;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: rgb(120, 120, 120);
}
section {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
h1{
    text-align: center;
    font-size: xx-large;
}
.mainline{
    width: 20rem;
    margin-left: 2rem;
    font-size:x-large;
}
.inputbox{
    width: 20rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    border-radius: 5%;
    background-color: hsl(0, 0%, 70%);
}
input {
    width: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #333;
}
button {
    background-color: #ff6600;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #e55e00;
}
h2 {
    color: #333;
}
section:nth-child(even) {
    background-color: #f2f2f2;
}


/* Full-width background image for the first section */
.mainsection {
    background-image: url('./assets/mankickboxing1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 5rem 1rem; 
    height: 30rem;
}

/* Style for the form input in the first section */
.mainsection form input {
    width: 100%;
}
/* Style for the form button in the first section */
.mainsection form button {
    width: 30%;
}
#instructors-section {
    margin-top: 0.5rem;
    background-image: url('./assets/mankickboxing.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 5rem 1rem; 
    height: 35rem;
}
.mainline1{
    text-align: center;
    margin-top: 1rem;
    font-size: x-large;
}

.instruct-infomain{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;

}
.instruct-infobox{ 
    border: 5px solid#f2f2f2;   
    border-radius: 5%;
    height: auto;
    width: 15rem;
    padding: 1rem;
    text-align: center;
}
.achivimg{
    width: 13rem;
    height: 15rem;
}
#achievement-section {
    margin-top: 0.5rem;
    background-image: url('./assets/achivement.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 5rem 1rem; 
    height: 35rem;
}
#contact{
    height: 15rem;
    padding: auto;
    align-items: center; /* Align items in the center horizontally */            
    justify-content: center; /* Align items in the center vertically */
    display:flex;
    align-items: center;
    background-color: #333;
    flex-direction: column;
    color: #fff;
}
.cont{
    padding: 1rem;
}
.contimg{
    padding: 1rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
}
.contimg:hover {
    width: 3.5rem;
}